@using System.Globalization
@using MainBit.Localization.Models
@{
    var viewModel = Model.ViewModel as MainBit.Localization.ViewModels.CulturePickerViewModel;
}
<div class="dropdown language-switcher">
    <a href="#" id="language-switcher__link" class="text-gray-light target-modal border-inside dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
        <span class="img-icon-flag img-icon-flag_@(viewModel.CurrentCulture.CultureInfo.TwoLetterISOLanguageName.ToLower())"></span><span class="border">@viewModel.CurrentCulture.DisplayName</span>
    </a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="language-switcher__link">
        @foreach (var culture in viewModel.Cultures)
        {
            <li @(culture == viewModel.CurrentCulture ? Html.Raw("class=\"active\"") : null)>
                <a href="@culture.Url" class="text-gray-light border-inside">
                    <span class="img-icon-flag img-icon-flag_@(culture.CultureInfo.TwoLetterISOLanguageName.ToLower())"></span><span class="border">@culture.DisplayName</span>
                </a>
            </li>
        }
    </ul>
</div>