@model MainBit.Localization.Models.TenantLocalizationPart
@using MainBit.Localization.Models
@using Orchard.ContentManagement
<fieldset>
    <legend>@T("Tenant localization")</legend>
    <div class="editor-field">
        @Html.LabelFor(m => m.MasterContentItemId, T("Default tenant content item Id"))
        @Html.EditorFor(m => m.MasterContentItemId)
        <span class="hint"></span>
    </div>
</fieldset>